
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color:#fff;
}

body {
    font-family: "Georgia", serif;
    color: #222;
}


.header {
    width: 100%;
    padding: 20px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 0;
    z-index: 10;
    color: #fff;
}

.logo {
    width: 90%;
    height: 100%;
}

.nav ul {
    display: flex;
    gap: 30px;
    list-style: none;
}

.nav a {
    text-decoration: none;
    font-size: 16px;
    font-family: sans-serif;
    font-weight: 100;
}

header:hover{
    background-color: white;
    transition: all 1s ease;
}

header:hover a {
    color: #222;
    transition: all 1s ease;
}

header:hover .logo, header:hover img {
    filter: invert(100%);
    transition: all 1s ease;
}

.mobile-menu-btn {
    display: none;
    font-size: 28px;
    color: #fff;
    cursor: pointer;
}

.hero {
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;

    display: flex;
    justify-content: center;
    align-items: center;
}


.hero-video {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.hero-overlay {
    position: absolute;
    inset: 0;
    background: rgba(0,0,0,0.35);
    z-index: 0;
}

.hero-content {
    color: #fff;
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: center;
    z-index: 2;
}

.hero-content h1 {
    font-size: 40px;
    letter-spacing: 4px;
    font-weight: 100;
    font-family: sans-serif;
    margin-bottom: 10px;
}

.hero-content h2 {
    font-size: 20px;
    letter-spacing: 4px;
    font-weight: 100;
    font-family: sans-serif;
}

.tagline {
    margin-top: 10px;
    font-size: 20px;
    line-height: 1.4;
    text-align: center;
}

.cta-buttons {
    margin-top: 30px;
    display: flex;
    gap: 20px;
    justify-content: center;
}

.cta {
    padding: 12px 28px;
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    border-radius: 0px;
    border-color: #fff;
    font-family: sans-serif;
    font-weight: 100;
    background: transparent;
    border: 1px solid #fff;
    color: #fff;
    border-radius: 0px;
    border-color: #fff;
}

.cta.secondary {
    background: transparent;
    border: 1px solid #fff;
    color: #fff;
    border-radius: 0px;
    border-color: #fff;
}

.hero-arrow {
    display: flex;
    width: 20px;
    height: 48px;
    position: absolute;
    bottom: 30px;
    left: calc(50%);
    justify-content: center;
    z-index: 1;
    animation-name: titleAnimationIn;
    animation-duration: 3s;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
}

@keyframes titleAnimationIn{
    0% {
    transform: translateY(0);
    }
    
    40% {
    transform: translateY(16px);
    }
    
    100% {
    transform: translateY(0);
    }
}



   

/* CAROUSEL SECTION */
.carousel-section {
    width: 100%;
    padding: 80px 0;
    position: relative;
    background: #fff;

  
    overflow: hidden;
}

/* Track der indeholder ALLE billeder */
.carousel-track {
    display: flex;
    gap: 40px;
    transition: transform 0.5s ease;
    width: max-content;
}



/* det her er billederne i carousellen */
.carousel-item {
    width: 500px;
    height: 333spx;
    position: relative;
    flex-shrink: 0;
    border-radius: 0%;
    overflow: hidden;
}

.carousel-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.carousel-item h3 {
    position: absolute;
    bottom: 20px;
    left: 197px;
    color: #fff;
    font-size: 22px;
    font-weight: 100;
    text-shadow: 0 2px 6px rgba(0,0,0,0.5);
    font-family: sans-serif;
}

.carousel-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(0,0,0,0.4);
    color: #fff;
    border: none;
    font-size: 40px;
    padding: 10px 18px;
    cursor: pointer;
    z-index: 5;
    border-radius: 4px;
}

.carousel-btn.left {
    left: 40px;
}

.carousel-btn.right {
    right: 40px;
}

.carousel-btn:hover {
    background: rgba(0,0,0,0.6);
}


.page-banner {
    background-color: #d8d6d3;
    padding: 80px 0;
    margin-top: 0;
    margin-left: 30px;
    margin-right: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.page-banner__title {
    font-family: sans-serif;
    font-weight: 100;
    margin-bottom: 30px;
    color:#000;
}

.page-banner__description {
    color: #000;
    font-family: sans-serif;
    font-weight: 100;
}

.page-banner__content {
    align-items: center;
    text-align: center;
    max-width: 800px;
    font-family: sans-serif;
    font-weight: 100;
}

.page-banner__button {
    display: inline-block;
    margin-top: 20px;
    padding: 12px 28px;
    background: transparent;
    color: black;
    text-decoration: none;
    font-size: 12px;
    border-radius: 0%;
    border: 1px solid #000;
    margin-top: 30px;
}



.valuation-drawer {
    position: fixed;
    top: 0;
    right: -650px; 
    width: 650px;
    height: 100vh;
    background: #ffffff;
    box-shadow: -6px 0 30px rgba(0,0,0,0.18);
    transition: right 0.45s ease;
    z-index: 9999;
    display: flex;
    flex-direction: column;
}


.valuation-drawer.open {
    right: 0;
}


.valuation-drawer__inner {
    padding: 60px 50px;
    overflow-y: auto;
}


.drawer-close {
    position: absolute;
    top: 22px;
    right: 22px;
    font-size: 34px;
    background: none;
    border: none;
    cursor: pointer;
    color: #333;
}


.valuation-drawer__inner h2 {
    font-size: 32px;
    font-weight: 600;
    margin-bottom: 18px;
    color: #222;
    font-family: sans-serif;
    font-weight: 100;
}


.valuation-drawer__inner p {
    font-size: 16px;
    line-height: 1.55;
    color: #444;
    margin-bottom: 30px;
    font-family: sans-serif;
    font-weight: 100;
}


.valuation-drawer form {
    display: flex;
    flex-direction: column;
    gap: 22px;
}

.valuation-drawer label {
    font-size: 15px;
    font-weight: 600;
    color: #222;
    margin-bottom: 6px;
    font-family: sans-serif;
}


.valuation-drawer input {
    padding: 14px;
    border: 1px solid #cfcfcf;
    border-radius: 4px;
    font-size: 16px;
    background: #f7f7f7;
    color:#000;
    font-family: sans-serif;
    font-weight: 100;
}


.drawer-submit {
    margin-top: 10px;
    padding: 16px;
    background: transparent;
    color: black;
    border: black 1px solid;
    font-size: 17px;
    font-weight: 600;
    cursor: pointer;
    border-radius: 0px;
    transition: 0.2s ease;
}

.drawer-submit:hover {
    background: #333;
    color: #fff;
}


.mobile-menu-btn {
    display: none;
    background: none;
    color: #000000;
    cursor: pointer;
    width: 40px;
}

@media (max-width: 900px) {
    .nav ul {
        display: none;
    }
    
    .mobile-menu-btn {
        display: block;
    }
}